<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>3D Secure with Hosted Fields</title>


  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

  <link rel="stylesheet" href="css/style.css">


</head>

<body>



<div id="content" class="">
  <div class="section" id="payments">
    <!-- Parent section -->

    <div class="container hero {{ if .Site.Params.fadeIn }} fade-in one {{ end }}">
      <!-- Begin Title -->
      <h1 class="title is-3">{{ .Title }}</h1>
    </div>
    <!-- End Title -->

    <!-- Everything below fades in two! -->
    <div class="section {{ if .Site.Params.fadeIn }} fade-in two {{ end }}">
      <div class="container markdown {{ if .Site.Params.fadeIn }} fade-in two {{ end }} top-pad">
        <div class="row">
          <div class="col-md-4 offset-md-4 col-10 offset-1 pl-0 pr-0">
            <div class="card">
              <div class="card-header">
                <div class="row" style="width: 100%">
                  <div class="col-md-5 col-12 pt-2 pr-0">
                    <h6 class="m-0"><strong>Детали оплаты</strong></h6>
                  </div>
                  <div class="col-md-7 col-12 icons pr-0">
                    <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-cc-discover fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form id="payments-form" data-target="#payment-modal">
                  <div class="form-group">
                    <div class="input-group">
                      <input readonly type="text" class="form-control border-right-0" placeholder="20">
                      <div class="input-group-prepend">
                                                    <span class="input-group-text rounded-right" >
                                          <i class="fa fa-usd" aria-hidden="true"></i>
                                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="card-number"><strong>НОМЕР КАРТЫ</strong></label>
                    <div class="input-group">
                      <div class="form-control border-right-0" id="card-number"></div>
                      <div class="input-group-prepend">
                        <span class="input-group-text rounded-right" ><i class="fa fa-credit-card"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7 col-12">
                      <div class="form-group">
                        <label for="expiration-date"><strong>СРОК ДЕЙСТВИЯ</strong></label>
                        <div class="input-group">
                          <div class="form-control border-right-0" id="expiration-date"></div>
                          <div class="input-group-prepend">
                                                            <span class="input-group-text rounded-right" id="validationTooltipCardNumber">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                          </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-12">
                      <div class="form-group">
                        <label for="cvv"><strong>CVC КОД</strong></label>
                        <div class="form-control" id="cvv"></div>
                      </div>
                    </div>
                    <div class="col-12 mb-1rem">
                      <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline" required >
                        <label class="custom-control-label" for="customControlInline">Согласен с условиями <a href="/ru/term-use/">Пользовательского соглашения</a> и
                          <a href="ru/privacy-policy/">Политикой Конфиденциальности</a>. <br> Подписываюсь на рассылку информации в виде электронных писем от имени Nitra. Вы также соглашаетесь с тем, что Nitra использует cookies для улучшения работы сайта.</label>
                      </div>
                    </div>
                  </div>
                  <button id="pay-btn" class="btn btn-info w-100 pb-2 pt-2">Подтвердить</button>
                </form>
              </div>
            </div>
          </div>
        </div>



  <!--<h1>3D Secure with Hosted Fields</h1>-->
  <!--<hr>-->

  <!--<form action="javascript:void(0)" class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-xs-6">-->
        <!--<div class="input-group">-->
          <!--<span class="input-group-addon">-->
            <!--<span class="glyphicon glyphicon-credit-card"></span>-->
          <!--</span>-->
          <!--<div id="hf-number" class="form-control"></div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--<div class="input-group">-->
          <!--<span class="input-group-addon">-->
            <!--<span class="glyphicon glyphicon-lock"></span>-->
          <!--</span>-->
          <!--<div id="hf-cvv" class="form-control"></div>-->
          <!--<span id="label-cvv" class="input-group-addon">CVV</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-6">-->
        <!--<div class="input-group">-->
          <!--<span class="input-group-addon">-->
            <!--<span class="glyphicon glyphicon-calendar"></span>-->
          <!--</span>-->
          <!--<div id="hf-date" class="form-control"></div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--<div class="input-group">-->
          <!--<span class="input-group-addon">-->
            <!--<span class="glyphicon glyphicon-usd"></span>-->
          <!--</span>-->
          <!--<input id="amount" readonly class="form-control" tabindex="-1" value="10.00">-->
          <!--<span class="input-group-addon">USD</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-6">-->
        <!--<div class="input-group">-->
          <!--<span class="input-group-addon">-->
            <!--<span class="glyphicon glyphicon-envelope"></span>-->
          <!--</span>-->
          <!--<input id="email" class="form-control" value="vitaliytv@nitralabs.com">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--<div class="input-group nonce-group hidden">-->
          <!--<span class="input-group-addon">nonce</span>-->
          <!--<input readonly name="nonce" class="form-control">-->
        <!--</div>-->
        <!--<div class="input-group pay-group">-->
          <!--<input disabled id="pay-btn" class="btn btn-success" type="submit" value="Loading...">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->

  <div id="modal" class="hidden">
    <div class="bt-mask"></div>
    <div class="bt-modal-frame">
      <div class="bt-modal-header">
        <div class="header-text">Authentication</div>
      </div>
      <div class="bt-modal-body"></div>
      <div class="bt-modal-footer">
        <a id="text-close" href="#">Cancel</a>
      </div>
    </div>
  </div>
  <script src='https://js.braintreegateway.com/web/3.32.1/js/client.min.js'></script>
  <script src='https://js.braintreegateway.com/web/3.32.1/js/three-d-secure.js'></script>
  <script src='https://js.braintreegateway.com/web/3.32.1/js/hosted-fields.js'></script>
  <script src="js/index.js"></script>

</body>

</html>