* {
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 2em;
  flex-direction: column;
}

hr {
  width: 85%;
}

form {
  max-width: 800px;
  margin: auto;
  padding: 15px;
  border: 0px solid gray;
  border-radius: 1em;
  box-shadow: 0 0 2px 2px lightgray;
  background-color: #444;
}

.row {
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 0;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.bt-modal-frame {
  height: 480px;
  width: 440px;
  margin: auto;
  background-color: #eee;
  z-index: 2;
  border-radius: 6px;
}

.bt-modal-body {
  height: 400px;
  margin: 0 20px;
  background-color: white;
  border: 1px solid lightgray;
}

.bt-modal-header, .bt-modal-footer {
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.bt-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

.braintree-hosted-fields-invalid {
  border: 1px solid #ed574a;
}


/*-----------------------------pr.html--------------------------*/

.pay-request .loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.pay-request @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


